.container {
    background-color: lime;
    width: 20%;
    height: 100%;
}

.channel {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    height: 18%;
    box-sizing: border-box;
    border-top: 1px solid black;
}

.spacer {
    height: 10%;
}

.name {
    font-size: 1.2em;
    font-weight: bold;
    margin-left: 5%;
    margin-bottom: 5%;
}