.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0;
  width: 100%;
  height: 100%;
}

.container > *{
  margin: 0;
}


.top {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0;
  width: 100%;
  height: 35%;
  background-color: #222;
}

.channel-info {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0;
  width: 100%;
  height: 65%;
  background-color: #656565;
  overflow-y: scroll; 
  overscroll-behavior: none;
  scrollbar-width: none;  /* Firefox */
}

.channel-info::-webkit-scrollbar {
  display: none;               /* Chrome, Safari, Edge */
}