.shows {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0;
    width: 100%;
    height: 100%;
}

.times {
    background-color: red;
    width: 100%;
    height: 10%;
}

.names {
    background-color: blue;
    width: 100%;
    height: 90%;
}